# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# turbo / cache
.turbo
.cache

# vite
.vite

# build outputs
dist
dist-electron
build
out
coverage

# macOS
.DS_Store

# editors
.vscode
.idea

# typescript
*.tsbuildinfo
